{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="/signin/" method="POST" class="card card-body">
                <h1 class="text-center">Iniciar Sesión</h1>
                <p class="text-danger text-center">{{error}}</p>
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary mt-3">Ingresar</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}